<h1>Editing ivr studio</h1>

<%= render "form", ivr_studio: @ivr_studio %>

<br>

<div>
  <%= link_to "Show this ivr studio", @ivr_studio %> |
  <%= link_to "Back to ivr studios", ivr_studios_path %>
</div>
