<div class="row mb-3">
   <div class="col-12">
      <h5>New ivr studio</h5>
   </div>
</div>

<%= render "form", ivr_studio: @ivr_studio %>

<br>

<div>
  <%= link_to "Back to ivr studios", ivr_studios_path %>
</div>
