<div class="row mb-3">
   <div class="col-12">
      <h5>Edit Contact</h5>
   </div>
</div>

<%= render "form", contact: @contact %>


<div >
  <%= link_to "Back to contacts", contacts_path %>
</div>
